* {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download_link {
  color: aquamarine;
  font-size: 16px
}
